@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-primary: #00a0e9;
  --color-secondary: #ffc107;
  --color-warning: #ffc107;
  --color-danger: #ff3547;
  --color-success: #00a0e9;

  --color-bg: #fafafa;
  --color-gray: #f5f5f5;
  --color-link: #00a0e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
}

img {
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.btn-primary {
  background: #00aaff;
  color: #fff;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #00aaff;
  transition: all 0.2s ease-in-out;
}

.btn-orange {
  background: #fb641b;
  color: #fff;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ffa500;
  transition: all 0.2s ease-in-out;
}

.btn-danger {
  background: #ff0000;
  color: #fff;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ff0000;
  transition: all 0.2s ease-in-out;
}

.btn-increase-decrease {
  border-radius: 50%;
  padding: 0.7em 1em;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 2px #222;
  color: #222;
}

.text-increase-decrease {
  font-size: 14px;
  font-weight: bold;
  color: #222;
  border: none;
  padding-inline: 0.5em;
  box-shadow: 0 0 2px #222;
  border-radius: 0.3em;
  width: 50px;
}

.badge {
  background-color: #ffa500;
  color: #fff;
  border-radius: 3px;
  padding: 0.1em 0.3em;
  font-weight: bold;
  border: 1px solid #ffa500;
}

.low-stock {
  opacity: 0.4;
}
